{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'create_note' %}">Create a note</a>
    </div>

    {% if notes.count %}
    <ul class="d-flex flex-wrap list-unstyled gap-2">
        {% for note in notes %}
        <li class="sticky-note">
            {% include 'sticky_note.html' with note=note %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p class="p-5 text-center text-secondary">
            <em>There are no sticky notes.</em>
        </p>
    {% endif %}

{% endblock %}