{% extends 'base.html' %}

{% block content %}
<h1 class="text-center fs-4 mt-2 mb-5">
    Welcome, {{ user }}.
</h1>

<div class="row g-5">
    <!-- List of sticky notes. -->
    <div class="col-lg-8">
        <div class="text-bg-secondary p-2 d-flex justify-content-between align-items-center gap-2 mb-3">
            <h2 class="fs-5 m-0">Your Sticky Notes</h2>
            <a class="btn btn-primary" href="{% url 'create_note' %}">Create a note</a>
        </div>

        {% if notes.count %}
        <ul class="d-flex flex-wrap list-unstyled gap-2">
            {% for note in notes %}
            <li class="sticky-note">
                {% include 'sticky_note.html' with note=note %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="p-5 text-center text-secondary">
            <em>There are no sticky notes.</em>
        </p>
        {% endif %}
    </div>

    <div class="col-lg-4">
        <div class="text-bg-info p-2 d-flex justify-content-between align-items-center gap-2 mb-3">
            <h2 class="fs-5 m-0">Latest Posts</h2>
            <a class="btn btn-secondary" href="{% url 'post_create' %}">Create a post</a>
        </div>

        {% if posts.count %}
        <ul class="list-unstyled gap-2">
            {% for post in posts %}
            <li class="post">
                <h3 class="title">{{ post.title }}</h3>
                <p class="content">{{ post.content }}</p>
                <p class="timestamp">Created at {{ post.created_at }} by {{ post.author }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="p-5 text-center text-secondary">
            <em>There are no posts.</em>
        </p>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}