{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'create_note' %}">Create a note</a>
    </div>

    {% if notes.count %}
    <ul class="d-flex flex-wrap list-unstyled gap-2">
        {% for note in notes %}
        <li class="sticky-note">
            <h3 class="title">{{ note.title }}</h3>
            <span class="content">{{ note.content }}</span>
            <!-- TODO delete note. -->
            <div class="buttons">
                <a href="{% url 'update_note' note_id=note.pk %}" class="btn btn-secondary btn-sm">Update</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p><em>There are no sticky notes.</em></p>
    {% endif %}

{% endblock %}