{% extends "base.html" %}

{% block content %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-info">Your account doesn't have access to this page.</div>
    {% endif %}
  {% endif %}

  <form class="login-form col-md-6 col-lg-4 mx-auto mt-2 mb-5" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h1 class="fs-3 my-3 text-center">Log in</h1>

    {% if form.errors %}
      <div class="alert alert-warning">Your username and password didn't match. Please try again.</div>
    {% endif %}

    <div class="mb-2">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="mb-2">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <div class="d-grid gap-1">
      <button type="submit" class="btn btn-primary">Log in</button>
      <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
    </div>
    <input type="hidden" name="next" value="{% url 'home' %}">
  </form>

{% endblock %}
